


<nav class="navbar navbar-default">
  <div class="navbar-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ><b><i>Celcius <i class="glyphicon glyphicon-resize-small" style="font-size:16px"></i> Farenheit Converter Application</i></b></a>
    </div>
    <div class="nav navbar-nav">
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-4 col-xs-4">
      <app-celcius [celciusValue]="celValue" (raiseCelciusValueEnterEvent) = "onCelciusValueChange($event)"></app-celcius>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <div class="text-center first"><span class="glyphicon glyphicon-circle-arrow-right" style="font-size: 40px"></span></div>
      <div class="text-center second"><span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 40px"></span></div>
    </div>
    <div class="col-md-5 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
      <app-farenheit [farenValueprty]="farenValue" (raiseFahrenValueEnterEvent) = "onFahrenValueChange($event)"></app-farenheit>
    </div>
  </div>  
</div>



